<%- include('partials/navbar') %>
<%- include('partials/header') %>

<div class="container background">
    <div class="overlay">
        <h2>A História da Bēkarī (Padaria) Hirano </h2>
        <p>A Bēkarī (Padaria) Hirano, fundada por Hirano, trouxe para a cidade uma variedade de produtos de panificação e confeitaria orientais. Hirano viajou pelo Japão em busca das melhores receitas e técnicas de panificação. Ao retornar, ele abriu sua padaria, combinando a tradição japonesa com ingredientes locais.</p>
    </div>
</div>

<%- include('partials/footer') %>
