<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Bem-vindo a Perfil!</h1>
    <hr>
    <h3>Esta é a página de perfil</h3>
    <p>Faça login para continuar...</p>

<%- include ('partials/footer.ejs') %>